<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <title>reveal.js</title>

        <link rel='stylesheet' href='../css/reveal.css'>
        <link rel='stylesheet' href='../css/theme/mine.css'>

        <!-- Theme used for syntax highlighting of code -->
    <link rel='stylesheet' href='../lib/css/zenburn.css'>

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? '../css/print/pdf.css' : '../css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
        <!-- custom style-->
        <!-- .slide: style="text-align: left;"> -->
    </head>
    <body>
        <div class='reveal'><div class='slides'>
        <section>
            <h3>Web Framework</h3>
        </section>
        <section>
            <h3>Web Technology</h3>
            <section>
            <p><ul>
            <li>Web is built on <strong>HTML</strong></li>
            <li>You can view the current webpage HTML "source"</li>
            <li>The browser display the HTML in a pretty way</li>
            <li><strong>css</strong> is used to tell the browser <strong>how</strong> to display HTML <strong>elements</strong></li>
            <li><strong>javascript</strong> is used to script the browser:
                <ul>
                <li>To modify the <strong>css</strong> property of certain elements
                    <ul><li>which changes how it is displayed</li></ul>
                </li>
                <li>To modify the <strong>content</strong> of some element</li>
                <li>To request additional content</li>
                </ul>
            </li>
            </ul></p>
            </section>
            <section>
            <p><ul>
            <li>Before the browser sees HTML, it has to <strong>request</strong> it</li>
            <li>A browser may use one of these request:
                <ul>
                <li>GET</li>
                <li>POST</li>
                <li>PUT</li>
                <li>DELETE</li>
                <li>HEAD</li>
                </ul>
            </li>
            <li>Browser, and server, uses <strong>HTTP</strong> protocol to communicate</li>
            </ul></p>
            </section>
            <section>
            <p>A request needs the following:
            <ul>
                <li>A <strong>method</strong></li>
                <li>A resource path (<strong>u</strong>niversal <strong>r</strong>esource <strong>l</strong>ocation, or <strong>url</strong>)</li>
                <li>HTTP Protocol <strong>version</strong></li>
                <li>Many <strong>headers</strong></li>
            </ul></p>
            <pre class='hljs'><code>GET /index.html HTTP/1.0
User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0
Host: google.com
Accept: text/html</code></pre>
            </section>
            <section>
            <p><ul>
                <li>The server sees the request, and have to <strong>response</strong></li>
                <li>A response has the following
                    <ul>
                    <li>A response <strong>code</strong>: Indicate error code (success, error, not found, etc)</li>
                    <li>Many <strong>response headers</strong></li>
                    <li>Response content: this is usually HTML</li>
                    </ul>
                </li>
            </ul></p>
            <pre class='hljs'><code>200 OK
Content-Length: 6
Content-Type: text/html
Hello!</code></pre>
            </section>
        </section>
        <section>
            <h3>Python web framework</h3>
            <p><ul>
            <li>Allow you to easily manipulate and control:
                <ul>
                    <li>headers</li>
                    <li>content (html)</li>
                </ul>
            </li>
            <li>There are two main framework for web development:
                <ul>
                <li><a href="https://www.djangoproject.com/">Django</a>: Full-feature</li>
                <li><a href="http://flask.pocoo.org/">Flask</a>: lightweight</li>
                </ul>
            </li>
            </ul></p>
        </section>
        <section>
            <h3>Flask</h3>
            <section>
            <p>Installation
            <ul>
            <li>Using PIP: Open a command line prompt as administrator and run
                <pre class='python hljs'><code>py -m pip install flask</code></pre>
            </li>
            <li>Using PyCharm:
                <ul>
                <li>Create a new project for Flask</li>
                <li>Within the new project, go to <strong>File</strong>-><strong>Settings</strong></li>
                <li>Click on <strong>Project: project_name</strong>, then <strong>Project interpreter</strong></li>
                <li>Click the <strong>+</strong> button to add a package</li>
                <li>Type in Flask, and install it</li>
                </ul>
            </li>
            </ul></p>
            </section>
            <section>
                <p>Sample FLASK app:</p>
                <pre class='python hljs'><code>from flask import Flask
app = Flask(__name__)
@app.route("/")
@app.route("/hello/< name>")
def main(name='world'):
    return "Hello world"

@app.route("/index.html")
def index():
    return "index page"
if __name__ == '__main__':
    app.run(host='127.0.0.1', port=12345)</code></pre>
            </section>
            <section>
            <p><ul>
                <li>Writing HTML in Python is not fun</li>
                <li>So, Flask allows you to have a Python <strong>template</strong></li>
                <li>Kinda like a static <strong>HTML file</strong></li>
                <li>But with fancy "python" features</li>
                <li>Like <strong>variable</strong>, <strong>loop</strong>, <strong>branch</strong></li>
            </ul></p>
            </section>
            <section>
                <p>Sample <strong>template</strong> hello.html</p>
                <pre class='hljs'><code>{% block body %}
{% if name %}
    <h3>Hello {{name}}</h3>
    {% if name == 'Nhan' %}
        It is spelled: <br />
        {% for c in name %}
            {{c}} <br />
        {% endfor %}
    {% endif %}
{% else %}
    You did not give me any name!
{% endif %}
                </code></pre>
            </section>
            <section>
                <p>We can then use the template. Flask looks at the <strong>template</strong> directory within the current directory for <strong>hello.html</strong></p>
                <pre class='python hljs'><code>from flask import Flask, render_template
app = Flask(__name__)
app.route("/hello/< name>")
def hello(name=None):
    return render_template('hello.html', name=name)
                </code></pre>
            </section>
            <section>
                <p><ul>
                <li>Imagint the following URL:
                    <pre class='hljs'><code>http://server.com/index.html?name=Jon&age=10</code></pre>
                </li>
                <li>name=Jon and age=10 are <strong>parameters</strong> provided to the index.html page</li>
                <li>Using Flask, you can access them as a dictionary using <strong>request.args</strong>
                    <pre class='python hljs'><code>from flask import request
@app.route('/index.html')
def index_html():
    html = 'Arguments: <br />'
    for key in request.args:
        html += '{} -> {}<br />'.format(key, request.args[key])
    return html
                    </code>
                </li>
                <li>If a form is submitted, you can access the data within the form with <strong>request.form</strong></li>
                </ul></p>
            </section>
            <section>
                <p>There are other things you can acces with request object:
                <ul>
                    <li>request.files: Files uploaded by the browser</li>
                    <li>request.cookies: Cookies provided by the browser</li>
                    <li>request.path: URL/path from the request</li>
                    <li>request.method: GET, POST, PUT, DELETE, etc</li>
                    <li>request.headers: HTTP request headers</li>
                    <li>And many more</li>
                </ul>
                </p>
            </section>
            <section>
                <p><ul>
                <li>Other then simply returning HTML, you can do more advanced response</li>
                <li>Like setting a cookie, or setting a new reponse header</li>
                <li>You can do that by importing and using <strong>make_response</strong></li>
                <li>Syntax:
                    <pre class='python hljs'><code>resp = make_response(render_template(...))
resp.set_cookie('username': username)
resp.headers['X-my-custom-header'] = 'My value'
return resp
                    </code></pre>
                </li>
                </ul></p>
            </section>
        </section>
        <section>
            <h3>Django</h3>
            <section>
                <p>
                <ul>
                <li>Installation: Similar to Flask, you can use <strong>pip</strong> or <strong>PyCharm</strong></li>
                <li>Within PyCharm, start the terminal, and run the following command to start a new django project:
                    <pre class='hljs'><code>django-admin startproject myproject</code></pre>
                </li>
                <li>Then, within the project directory, run:
                    <pre class='hljs'><code>py manage.py startapp myapp</code></pre>
                </li>
                <li>We're ready to write some web application!</li>
                </ul>
                </p>
            </section>
            <section>
                <p><ul>
                <li>Django loosely follows <strong>MVP</strong> design: <strong>M</strong>odel, <strong>V</strong>iew, and <strong>C</strong>ontroller</li>
                <li><strong>Model</strong>: Database model! Map Python classes to database tables.
                    <ul>
                    <li>An instance or an object is a row/entry/record</li>
                    <li>In Django, we use models.py to implement all models</li>
                    </ul>
                </li>
                <li><strong>View</strong>: A "view" or a page
                    <ul>
                    <li>How a page should look, what scripts are available, is there a table, etc</li>
                    <li>In django, we use <strong>templates</strong> and views.py to implement the view</li>
                    </ul>
                </li>
                <li><strong>Controller</strong>: What should be presented, and in what way
                    <ul>
                    <li>Django already impelements the controller for us</li>
                    </ul>
                </li>
                </ul></p>
            </section>
            <section>
                <p><ul>
                <li>Take a first look at a "view"</li>
                <li>Sample view.py:
                    <pre class='python hljs'><code>from django.http import HttpReponse
def index(request):
    return HttpResponse('Hello world! This page is pretty static')</code></pre>
                </li>
                <li>We want index to be responsible for "/myapp/index.html" request</li>
                <li>How do we tell Django that?</li>
                </ul></p>
            </section>
            <section>
                <p><ul>
                <li>We specify the "path" in <strong>urls.py</strong></li>
                <li>Sample "<strong>myapp</strong>/urls.py":
                    <pre class='python hljs'><code>from django.urls import path
from . import views
urlpatterns = [
    path('/index.html', views.index, name='index')
]
                    </code></pre>
                </li>
                <li>Sample "<strong>myproject</strong>/urls.py":
                    <pre class='python hljs'><code>from django.contrib import admin  # created by django
from django.urls import include, path   # created by django

urlpatterns = [
    path('myapp/', include('myapp.urls')),  # tell django to use myapp.urls
    path('admin/', admin.site.urls),   # created by django
]</code></pre>
                </li>
                </ul></p>
            </section>
            <section>
                <p><ul>
                <li>Let's take a look at the database <strong>models</strong>....</li>
                <li>If you are thinking about tables, SELECT, JOIN, you're not thinking in Python</li>
                </ul></p>
            </section>
            <section>
                <p><ul>
                <li>More along this line:
                    <ul>
                    <li>A <strong>Person</strong> has <strong>name</strong>, and <strong>age</strong></li>
                    <li>A <strong>Person</strong> has a <strong>relationship</strong> with another <strong>Person</strong></li>
                    </ul>
                </li>
                </ul></p>
                <pre class='python hljs'><code>from django.db import models
class Person(models.Model):
    name = models.CharField(max_length=200)
    age = models.DecimalField(max_digits=3)
class Relationship(models.Model)
    person1 = models.ForeignKey(Person)
    person2 = models.ForeignKey(Person)
                </code></pre>
            </section>
            <section>
            <p>We can start doing something like this:</p>
            <pre class='python hljs'><code>from myapp.models.py import Person, Relationship
p1 = Person(name=Jon, age=20)
p1.save()
p2 = Person(name=Nancy, age=21)
p2.save()
r = Relationship(person1=p1, person2=p2)
r.save()

for person in Person.objects.all():
    print(person)   # print Jon, then Nancy</code></pre>
            </section>
            <section>
                <h4>We do not need to know SQL</h4>
            </section>
        </section>
        <section>
            <h3>Object-Relational Mapping</h3>
            <section>
                <p><ul>
                <li>What django provided for interacting with database</li>
                <li>If you use Django, use the built-in ORM tool</li>
                <li>If you just want database interaction without Django, uses <strong>SQLAlchemy</strong></li>
                </ul></p>
            </section>
            <section>
                <p><ul>
                <li>You can interact with databases just like Python object</li>
                <li>You can interact with <strong>many</strong> database backend</li>
                <li>You do not need to know the backend</li>
                <li>You can change one config file, and change the entire DB backend</li>
                <li>Without changing SQL Queries, connection, etc</li>
                </ul></p>
            </section>
        </section>
        </div></div>

        <script src='../lib/js/head.min.js'></script>
        <script src='../js/reveal.js'></script>

        <script>
            // More info about config & dependencies:
            // - https://github.com/hakimel/reveal.js#configuration
            // - https://github.com/hakimel/reveal.js#dependencies
            Reveal.initialize({
                dependencies: [
                    { src: '../plugin/markdown/marked.js' },
                    { src: '../plugin/markdown/markdown.js' },
                    { src: '../plugin/notes/notes.js', async: true },
                    { src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ]
            });
        </script>
    </body>
</html>


